name: Publish to Comfy registry

on:
  push:
    branches: [ "main" ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Publish Custom Node
      uses: Comfy-Org/publish-node-action@main
      with:
        personal_access_token: ${{ secrets.REGISTRY_ACCESS_TOKEN }}
        skip_checkout: 'true'
